<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="slider.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <div id="slider-container">
                
    </div>

    <script src="slider.js"></script>
    <!--feather icons init-->
    <script>feather.replace()</script>
</body>
</html>