body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    min-width: 768px;
}
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #4ab1ff, #7fb5f7, #9fbaef, #b6c0e6, #c6c7dd, #c6c9de, #c7cbe0, #c7cde1, #b4cbec, #97cbf4, #6cccf9, #07cef8);
}
.app-form {
    max-width: 640px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, .25);
    background-color: #f1f1f1;
    color: #0f0f0f;
}

.app-form button {
    padding: .8rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.app-form__initial-settings {
    height: 200px;
    transition: all .5s ease;
    overflow: hidden;
}

.app-form__initial-settings > p {
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.app-form__initial-settings > div {
    padding: .5rem 0; 
}

.app-form__initial-settings label,
.app-form__initial-settings input {
    font-size: 1.2rem;
}

.app-form__initial-settings input {
    border: 1px solid #ccc;
    padding: .2rem .5rem;
    margin-right: 1rem;
}

#start_game_btn {
    
    background-color: #0259a0;
    color: #f1f1f1;
    
}

.app-form__guess-number-block {
    height: 0;
    opacity: 0;
    transition: all .5s ease;
}

.app-form__guess-number-input label,
.app-form__guess-number-input input {
    font-size: 1.4rem;
    color: #007e43;
}
.app-form__guess-number-input input {
    border: 1px solid #03833d5e;
    padding: .2rem .5rem;
}

#check_numb_btn {
    background-color: #007e43;
    color: #fff;
    margin: 1rem 2rem 1rem 0;
}

#new_game_btn {
    border: 1px solid #8b8b8b;
}

.app-form__game-message {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #dba1008e;
    border-radius: 8px;
}
@media screen and (max-width: 900px) {
    body {
        min-width: auto;
    }
    .app-form__initial-settings {
        height: auto;
        
    }
    .app-form__initial-settings > div {
        display: flex;
        flex-direction: column;
    }
}