body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#slider-container {
    
    max-width: 60%;
    margin: 2rem auto;
    overflow: hidden;
    transition: all 1s ease;
    position: relative;
}

.slider-feed {
    display: flex;
    transition: all 1s ease;
}


/* slide title */
#slider-container .img-wrapper {
    position: relative;
}
#slider-container .img-wrapper .slide-title  {
    font-family: sans-serif;
    padding: .8rem 1rem;
    margin: 0;
    color: #fff;
    text-align: center;
    width: 120px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    background: radial-gradient(circle, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
}
/*slider controls*/

#slider-container .slider-controls .left-btn {
   
   position: absolute;
   left: 1rem;
   top: 50%;
   transform: translateY(-50%);
   color: #ffffff;
   cursor: pointer;
}
#slider-container .slider-controls .right-btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
 }
#slider-container .slider-controls .left-btn svg,
#slider-container .slider-controls .right-btn svg {
    color: #cfcfcf;
    width: 3rem;
    height: 3rem;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, .5);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #slider-container {
        max-width: 90%;
    }
}