body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#slider-container {
    
    max-width: 60%;
    margin: 2rem auto;
    border: 2px solid #000;
    overflow: hidden;
    transition: all 1s ease;
    position: relative;
}

.slider-feed {
    display: flex;
    transition: all 1s ease;
}






/*slider titles*/
.slider-container .slider-viewport .slide .inside-title {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, .25);

}

.slider-container .slider-viewport .slide .slide-title {
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    margin-top: 1rem;
    background: radial-gradient(circle, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
    padding: .5rem 2rem;
}

/*slider navigation*/
.slider-container .slider-viewport .slider-navigation {
    width: 120px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    background: radial-gradient(circle, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
}
/*slider controls*/

#slider-container .slider-controls .left-btn {
   
   position: absolute;
   left: 1rem;
   top: 50%;
   transform: translateY(-50%);
   color: #ffffff;
   cursor: pointer;
}
#slider-container .slider-controls .right-btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
 }
#slider-container .slider-controls .left-btn svg,
#slider-container .slider-controls .right-btn svg {
    color: #cfcfcf;
    width: 3rem;
    height: 3rem;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, .5);
    cursor: pointer;
}