body {
    min-width: 960px;
    min-height: 640px;
    height: 100vh;
    background: no-repeat center center url('img/background.jpeg');
    background-size: cover;
    box-shadow: inset 3000px 3000px rgba(0, 0, 0, .5);
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    position: relative;
}
ul {
    list-style-type: none;
}

/*global button*/
button {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    font-weight: 300;
    font-size: 1.1rem;
    transition: all .25s ease-in;
}
button:hover {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .2);
    transition: all .25s ease-in;
}

button img {
    width: 2rem;
    margin-right: .5rem;
    
}
.wrapper {
    width: 70%;
    background: rgba(255, 255, 255, .8);
    margin: 0 auto;
    display: flex;
    min-height: 90%;
    border-radius: .5rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, .2);
    position: relative;
    padding: 1rem;
}


/*player panel*/
.wrapper .player-panel {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .5;
}
/*active player panel*/
.wrapper .active {
    opacity: 1;
}
.wrapper .active .player-name::after {
    content: '';
    padding: .1rem;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 2rem;
    background: url('img/dice-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.wrapper .player-panel .player-name {
    font-size: 3rem;
    font-weight: 300;
    position: relative;
}
.wrapper .player-panel .player-score {
    font-size: 5rem;
    color: #c04702;
}
.wrapper .player-panel .player-score-label {
    margin-top: 3rem;
    color: #808080;
}
.wrapper .player-panel .player-current-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 2rem;
}
.wrapper .player-panel .player-current-box .player-current-score {
    font-size: 3rem;
}

/*central column (buttons, dices)*/
.wrapper .central-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    padding-bottom: 4rem;
}
.wrapper .central-section .dice {
    width: 8rem;
}
.wrapper .central-section .message-box {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 1rem;
    color: #fff;
    font-size: 1.4rem;
    background-color: #c04702;
    border-radius: 4px;
    padding: .5rem;
}
.wrapper .central-section .message-box .h-text {
    color: #f5d521;
}

/*new game settings popup*/
.wrapper .new-game-popup {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(88, 182, 245, 0.96);
    z-index: 10;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, .2);
    display: none;
}
.wrapper .new-game-popup li {
    margin-top: 1rem;
}
.wrapper .new-game-popup label {
    font-size: 1.1rem;
    margin-right: .5rem;
}
.wrapper .new-game-popup input {
    font-size: 1.2rem;
}

.overlay {
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: none;
}
.hidden {
    display: none;
}