.header {
    background: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}